  .cma-container {
      width: 100%;
      height: 90%;
    }
  
  .cma-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  
  .cma-sidenav {
    padding: 20px;
    background-color: #063b51;
    color: white;
  }

  .cma-sidenav a {
    text-decoration: none;
    color: #FFF;
  }

  .cma-menu {
    background-color: #063b51;
    width: 60px;
    float: left;
    height: 100%;
  }

  .cma-menu-img{
    margin-left: -5px
  }
